<h1><%= t(".title1") %></h1>
<p>
    <%= t(".title2") %>
    <a href="https://www.railstutorial.org/help"><%= t(".title3") %></a>.
    <%= t(".title4") %>
    <a href="https://www.railstutorial.org/book"><em><%= t(".title5") %></em>
    <%= t(".title6") %></a>.
</p>
