<h1><%= t(".title1") %></h1>

<p><%= t("title2") %></p>
<%= link_to t(".reset_password"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t("title3") %></p>

<p>
 <%= t("title4") %>
</p>
