<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
      <%= link_to t(".sample_app"), root_path, id: "logo" %>
      <nav>
         <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t("static_pages.home.title1"), root_path %></li>
            <li><%= link_to t("static_pages.help.title1"), help_path %></li>
            <li><%= link_to t(".login"), '#' %></li>
            <%= link_to "En", locale:"en" %>
            <%= link_to "Vi", locale:"vi" %>
         </ul>
      </nav>
   </div>
</header>
